html{
    background-image: url(https://i.pinimg.com/564x/61/cb/6c/61cb6c8b0b88d4b9b61f07ff8a9859b3.jpg) ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    #intro1{

        position:absolute;
        height: 200px;
        width:auto;
        left:100px;
        top:150px;
    }
    
    #intro2{

        position:absolute;
        height:200px;
        width:auto;
        left:100px;
        top:150px;
    }
    #intro3{

        position:absolute;
        height:200px;
        width:auto;
        left:100px;
        top:150px;
    }
    #middle1{

        position:absolute;
        height:200px;
        width:auto;
        left:590px;
        top:150px;
    }
    #middle2{

        position:absolute;
        height:200px;
        width:auto;
        left:590px;
        top:150px;
    }
    #middle3{

        position:absolute;
        height:200px;
        width:auto;
        left:590px;
        top:150px;
    }
    #outro1{

        position:absolute;
        height:200px;
        width:auto;
        right:100px;
        top:150px;
    }
    #outro2{

        position:absolute;
        height:200px;
        width:auto;
        right:100px;
        top:150px;
    } #outro3{

        position:absolute;
        height:200px;
        width:auto;
        right:100px;
        top:150px;
    }
}